body{
    text-align: center;
    background: url("../image/86028.jpg");
}

#main{
    width: 1248px;
    margin: 0 auto;
    padding: 0;
    top: 10%;
    left: 18%;
    position: fixed;
}

#main div{
    float: left;
    margin: inherit;
}

#board, .row .wht, .blk{
    /*position: absolute;*/
    display: block;
    padding: 0px;
    margin: 0px;
    /*transform: rotateX(45deg);*/
}

#board{
    /*position: absolute;*/
    width: 736px;
    height: 736px;
    border: 5px solid black;
    /*margin: 0 auto;*/
}

.blk, .wht{
    width: 90px;
    height: 90px;
    float: left;
    border: 1px solid black;
}

.blk{
    background-color: #135883 ;
}

.wht{
    background-color: #ffffff ;
}

img{
    height: 70px;
    margin: 8px;
}

.movable-block-blk{
    background: #135883 -moz-radial-gradient(center, ellipse cover, rgba(248,255,232,0.4) 0%, rgba(227,245,171,0.4) 30%, rgba(183,223,45,0.4) 100%);
    background: #135883 -webkit-radial-gradient(center, ellipse cover, rgba(248,255,232,0.4) 0%,rgba(227,245,171,0.4) 30%,rgba(183,223,45,0.4) 100%);
    background: #135883 radial-gradient(ellipse at center, rgba(248,255,232,0.4) 0%,rgba(227,245,171,0.4) 30%,rgba(183,223,45,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33f8ffe8', endColorstr='#33b7df2d',GradientType=1 );
}

.movable-block-wht{
    background: #ffffff -moz-radial-gradient(center, ellipse cover, rgba(248,255,232,0.4) 0%, rgba(227,245,171,0.4) 30%, rgba(183,223,45,0.4) 100%);
    background: #ffffff -webkit-radial-gradient(center, ellipse cover, rgba(248,255,232,0.4) 0%,rgba(227,245,171,0.4) 30%,rgba(183,223,45,0.4) 100%);
    background: #ffffff radial-gradient(ellipse at center, rgba(248,255,232,0.4) 0%,rgba(227,245,171,0.4) 30%,rgba(183,223,45,0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33f8ffe8', endColorstr='#33b7df2d',GradientType=1 );
}

.capture-block{
    background: rgb(249,198,103);
    background: -moz-radial-gradient(center, ellipse cover, rgba(249,198,103,1) 0%, rgba(247,150,33,1) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
    background: radial-gradient(ellipse at center, rgba(249,198,103,1) 0%,rgba(247,150,33,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=1 );
}

#white-capture-pices, #black-capture-pices{
    width: 250px;
    height: 746px;
    position: relative;
    background: -moz-radial-gradient(center, ellipse cover, rgba(63,76,107,0.6) 0%, rgba(63,76,107,0.6) 100%);
    background: -webkit-radial-gradient(center, ellipse cover, rgba(63,76,107,0.6) 0%,rgba(63,76,107,0.6) 100%);
    background: radial-gradient(ellipse at center, rgba(63,76,107,0.6) 0%,rgba(63,76,107,0.6) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#663f4c6b', endColorstr='#663f4c6b',GradientType=1 );
}

#white-capture-pices img, #black-capture-pices img{
    width: 45px;
    height: 45px;
    float: inherit;
}

#timer-black, #timer-white{
    color: greenyellow;
    font-size: 24px;
}
